.header{

}

.header__menu {
  width: 100%;
  position: fixed;
  top: 85px;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.header__menuWrap {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
}
